<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:derby:db;create=true</property>
        <property name="c3p0.min_size">3</property>
        <property name="c3p0.max_size">15</property>
        <property name="c3p0.acquire_increment">3</property>
        <property name="c3p0.timeout">1800</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DerbyTenSevenDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="ba.unsa.etf.si.models.Receipt"/>
        <mapping class="ba.unsa.etf.si.models.ReceiptItem"/>
        <mapping class="ba.unsa.etf.si.models.CashRegister"/>
        <mapping class="ba.unsa.etf.si.models.Product"/>
        <mapping class="ba.unsa.etf.si.models.Credentials"/>
    </session-factory>
</hibernate-configuration>