<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/?serverTimezone=UTC#/si2019</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.timeout">1800</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="ba.unsa.etf.si.models.Receipt"/>
        <mapping class="ba.unsa.etf.si.models.ReceiptItem"/>
        <mapping class="ba.unsa.etf.si.models.CashRegister"/>
        <mapping class="ba.unsa.etf.si.models.Product"/>
        <mapping class="ba.unsa.etf.si.models.Credentials"/>
    </session-factory>
</hibernate-configuration>