.back {
    -fx-background-color: #123456;
    -fx-fill: #fff;
    -fx-text-fill: #fff;
}

.lbl {
    -fx-text-fill: #fff;
}

.btn {
    -fx-fill: #fff;
    -fx-text-fill: #fff;
    -fx-background-color: #02A14E;
}

.pw {
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 0 0 0.5 0;
    -fx-background-color: #123456;
}

.error {
    -fx-background-color: #8A1B24;
}