.prod {
    -fx-background-color: #123456;
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-background-radius: 5px;
}

.list-cell {
    -fx-background-color: #123456;
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-font-size: 18;
    -fx-padding: 3px;
    -fx-background-insets: 0px, 2px;
    -fx-highlight-text-fill: #fff;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: #fff;
}

.list-cell:empty {
    -fx-padding: 3px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-color: #123456;
}

.price {
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-background-color: #123456;
    -fx-alignment: CENTER;
    -fx-background-radius: 5px;
    -fx-font-size: 18px;
}

.btn {
    -fx-background-color: #123456;
}

.list-cell:selected {
    -fx-background-color: #000;
}

.lbl {
    -fx-text-fill: #fff;
}
